################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleSocketTest
/ConsoleGetHostNameIP/bin/Debug
/ConsoleGetHostNameIP/obj/Debug
/ConsoleSocketClient/bin/Debug
/ConsoleSocketClient/obj/Debug
/ConsoleSocketTest/bin/Debug
/ConsoleSocketTest/obj/Debug
/packages
/ConsoleSockClient2/bin/Debug
/ConsoleSockClient2/obj/Debug
