################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleSocketTest
/ConsoleGetHostNameIP/bin/Debug
/ConsoleGetHostNameIP/obj/Debug
/ConsoleSocketClient/bin/Debug
/ConsoleSocketClient/obj/Debug
/ConsoleSocketTest/bin/Debug
/ConsoleSocketTest/obj/Debug
/packages
/ConsoleSockClient2/bin/Debug
/ConsoleSockClient2/obj/Debug
/ConsoleSocketClient3/bin/Debug
/ConsoleSocketClient3/obj/Debug
/ConsoleSocketClientByMSDN/bin/Debug
/ConsoleSocketClientByMSDN/obj/Debug
/ConsoleSocketServerByMSDN/bin/Debug
/ConsoleSocketServerByMSDN/obj/Debug
/ConsoleSocketTest2/bin/Debug
/ConsoleSocketTest2/obj/Debug
/ConsoleSocketClientAsynByMSDN/bin/Debug
/ConsoleSocketClientAsynByMSDN/obj/Debug
/ConsoleSocketServerAsynByMSDN/bin/Debug
/ConsoleSocketServerAsynByMSDN/obj/Debug
